---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Hero from "../components/Hero.astro";
import { client } from "../../tina/__generated__/databaseClient";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import Footer from "../components/Footer.astro";
import * as m from "../paraglide/messages";

const projectResponse = await client.request(
  {
    query: `query getAbout($relativePath: String!) {
      about(relativePath: $relativePath) {
        title
        subheader
        heroImage
        featureImage
        description
      }
    }`,
    variables: { relativePath: "about.mdx" },
  },
  {}
);

const postsResponse = await client.queries.postConnection();
const { title, subheader, description, heroImage, featureImage } =
  projectResponse.data.about;
---

<Layout title={title}>
  <Hero title={title} subheader={subheader} image={heroImage} />
  <Container className="my-12 grid lg:grid-cols-2 gap-16">
    <div>
      <h2 class="text-5xl font-serif">{m.t_aboutProject()}</h2>
      <article class="py-8 prose prose-lg max-w-none">
        <TinaMarkdown content={description} />
      </article>
    </div>
    <img src={featureImage} alt="" class="w-full" />
  </Container>
  <Footer />
</Layout>
